:root {
    /* https://lospec.com/palette-list/devil-dance */
    --tz-black: #000000;
    --tz-purple: #202243;
    --tz-grey: #485872;
    --tz-orange: #ca8245;
    --tz-yellow: #f0c537;
    --tz-red: #a64427;
    --tz-orange-red: #ce5743;
    --tz-white: #ffffff;
}
*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
button{
    background-color: #485872;
    color: #f0c537;
}