:root {
    --tz-black: #000000;
    --tz-purple: #202243;
    --tz-grey: #485872;
    --tz-orange: #ca8245;
    --tz-yellow: #f0c537;
    --tz-red: #a64427;
    --tz-orange-red: #ce5743;
    --tz-white: #ffffff;
}